@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
    --primary-color: wheat;
}

body {
    margin: 0;
    background-color: var(--primary-color);
    font-family: 'Source Code Pro', monospace;
    text-align: center;
}

nav {
    padding: 1.1rem;
    text-align: center;
    background-color: black;
    color: var(--primary-color);
}

textarea {
    display: block;
    margin: 3rem auto;
    width: 60%;
    padding: 1rem;
    height: 15vh;
    font-size: 1.4rem;
}

button {
    padding: 1rem;
    margin: 0.5rem;
    background-color: black;
    color: var(--primary-color);
    font-family: 'Source Code Pro', monospace;
}

@media (max-width: 700px) {
    textarea {
        width: 80%;
        height: 15vh;
    }

    button {
        display: block;
        margin: 0.5rem auto;
    }
}