@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

:root {
    --color: #DBEAFE;
}

body {
    margin: 0;
    background: linear-gradient(#e66465, #9198e5);
    background-attachment: fixed;
    text-align: center;
}

h1 {
    font-family: 'Redressed', cursive;
    padding: 1rem;
    font-size: 5rem;
    margin-top: 3vh;
    margin-bottom: 7vh;
}

input {
    display: block;
    margin: 14px auto;
    padding: 0.8rem 1.4rem;
    border-radius: 1.5rem;
    border-style: none;
    text-align: center;
    font-size: 1.2rem;
}

#cash {
    visibility: hidden;
}

table {
    margin: 4vh auto;
    font-size: 1.5rem;
}

td {
    padding: 0.2rem 2rem;
}

#button, #reset {
    width: 8rem;
    font-size: unset;
    cursor: pointer;
}
